@import "tailwindcss";

html.dark body {
  background-color: #111827 !important; /* override Tailwind bg-white */
  color: white !important; /* override Tailwind text-black */
}

html.dark a {
  color: #93c5fd !important; /* override Tailwind link colors */
}

html.dark .card {
  background-color: #1f2937 !important; /* example custom element */
}
